<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
         var url = '{{.url}}';
         window.location.replace(url);
        </script>
    </head>
    <body>
    </body>
</html>
